<%- include("../includes/head.ejs") %>  
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <% if(validationErrs.length){ %>
        <div class="error">
            <%= validationErrs[0].msg %> 
        </div>
    <% } %> 
    <% if(error){ %>
        <div class="error">
            <%= error %> 
        </div>
    <% } %> 
  <div class="main position-center">
    <section class="sign-in">
      <div class="container">
          <div class="signin-content" style="display: flex; justify-content: center; align-items: center;">
              <div style="width:50%; margin-left: 20px;">
                  <figure><img src="/images/forgotPass.jpg" alt="Forgot my Pass Image"></figure>
              </div>
    
              <div class="signin-form" style="width: 50%;">
                  <h2 class="form-title">Forgot Password?</h2>
                  <form method="POST" class="register-form" id="login-form" action="/forgotPassword">
                      <div class="form-group <% if(validationErrs.length){ %>invalid<% } %>">
                        <label for="email"><i class="zmdi zmdi-account material-icons-name" style="padding:5px;"></i></label>
                          <input type="email" name="email" placeholder="Email" value="<%=email%>"/>
                      </div>
                      <div class="form-group form-button">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Send Link"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
<%- include("../includes/end.ejs") %> 
